<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/' method='post'>
        <table>
            <tr>
                <th>Nama</th>
                <td><input type='text' name='nama' required/></td>
            <tr>
                <th>No HP</th>
                <td><input type='text' name='nohp' required/></td>
            </tr>
            <tr>
                <td colspan="2"  align="center"><button onClick="alert ('Data Berhasil ditambahkan')" type='submit'>Tambahkan</button></td>                
            </tr>
        </table>
    </form>

    <table border=1>
        <tr>
            <td>Nama</td>
            <td>No.HP</td>
            <td colspan="3" align="center">Action</td>
        </tr>
        <% kontak.forEach((kn,index)=>{%>
        <tr>
            <td><%= kn.nama %></td>
            <td><%= kn.nohp %></td>
            <td>
                <a href='/<%= kn.id %>'>
                    <button>Detail</button>
                </a>
                <a href='/<%= kn.id%>/edit'>
                    <button>Edit</button>
                </a> 
                <a href='/<%= kn.id%>/delete'>
                    <button onClick="alert ('Apakah anda yakin akan menghapus data ini??')">Hapus</button>
                </a>
            </td>
        </tr>
        <%})%>
    </table>
</body>
</html>
